examples/example-1.json
[
    {
        "id": "17f8e970e9fb32ae",
        "type": "log-to-file",
        "z": "4a0ab9e72d187c82",
        "name": "日志节点1",
        "filePath": "",
        "server": "dee2dde9c8a7055b",
        "sendpane": false,
        "loglevel": "INFO",
        "inputchoice": "fullmsg",
        "inputobject": "payload",
        "inputobjectType": "msg",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "67887bdda6474b99",
        "type": "inject",
        "z": "4a0ab9e72d187c82",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "p",
        "payloadType": "str",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "a783d68aca1a6f4a",
                "17f8e970e9fb32ae"
            ]
        ]
    },
    {
        "id": "38fb6f6647337c4a",
        "type": "log-to-file",
        "z": "4a0ab9e72d187c82",
        "name": "日志节点3",
        "filePath": "",
        "server": "dee2dde9c8a7055b",
        "sendpane": "",
        "loglevel": "INFO",
        "inputchoice": "fullmsg",
        "inputobject": "payload",
        "inputobjectType": "msg",
        "x": 1070,
        "y": 140,
        "wires": []
    },
    {
        "id": "a783d68aca1a6f4a",
        "type": "change",
        "z": "4a0ab9e72d187c82",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "123",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "de4d047bc863e884",
                "110b16bf45def263"
            ]
        ]
    },
    {
        "id": "de4d047bc863e884",
        "type": "change",
        "z": "4a0ab9e72d187c82",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "key",
                "pt": "msg",
                "to": "testkey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 240,
        "wires": [
            [
                "38fb6f6647337c4a"
            ]
        ]
    },
    {
        "id": "110b16bf45def263",
        "type": "log-to-file",
        "z": "4a0ab9e72d187c82",
        "name": "日志节点2",
        "filePath": "",
        "server": "dee2dde9c8a7055b",
        "sendpane": "",
        "loglevel": "INFO",
        "inputchoice": "fullmsg",
        "inputobject": "payload",
        "inputobjectType": "msg",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "dee2dde9c8a7055b",
        "type": "log-server-config",
        "filePath": "/home/log",
        "logClean": true,
        "deleteTime": "13:51",
        "deleteDay": "30",
        "logrotate": true,
        "logcompress": false,
        "logrotatecount": "5",
        "logsize": "100"
    }
]